apiVersion: v1
baseDomain: "{{ cluster_base_domain }}"
{% if install_proxy is defined %}
proxy:
  httpProxy: http://{{ install_proxy }}:3128
  httpsProxy: http://{{ install_proxy }}:3128
  noProxy: .{{ cluster_domain_name }},169.254.169.254,{{ subnet_cidr }}
{% endif %}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ cluster_nodes.masters | length }}
metadata:
  name: "{{ cluster_name }}"
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
pullSecret: '{{ ocp4_pull_secret | to_json }}'
sshKey: '{{ bastion_pubkey.content | b64decode }}'
additionalTrustBundle: |
  -----BEGIN CERTIFICATE-----
  MIIEQDCCAqigAwIBAgICH5YwDQYJKoZIhvcNAQELBQAwezEMMAoGA1UEAxMDZHBw
  MRMwEQYKCZImiZPyLGQBARMDZHBwMRAwDgYDVQQKEwd0ZXN0MTIzMQswCQYDVQQG
  EwJTRzETMBEGCgmSJomT8ixkARkWA2RwcDEiMCAGCSqGSIb3DQEJARYTdGVzdDEy
  M0B0ZXN0MTIzLmNvbTAeFw0yMzAzMjIwNTA4MjFaFw00MzAzMTcwNTA4MjFaMEcx
  CzAJBgNVBAYTAlNHMRMwEQYDVQQIDApTb21lLVN0YXRlMRAwDgYDVQQKDAd0ZXN0
  MTIzMREwDwYDVQQDDAhyZWdpc3RyeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCC
  AQoCggEBALf+FzSIVTiU+J5P4f42sYYKfxXeaeML4Ufhm3dHndAMpyLoCo4udIh5
  VOJ/A9//F0VUe/M5TI3OsOuldwi6rpS2v2disKhTl8jh05GYOpjrud9n9i3KQadB
  OHT7cF3djvd+6dB4hm8zijdCA8n3giQgtokjf5lYUy8dc5NGH1JPkn/V10t3Grvt
  QVFu1tE5EPQDb37oCr/NrVkb15eu4Ly61339RedZF0zixkYO8JtIiFzdReA8P+JM
  wy8DE9plDWLP5M3Hz0+HGud1czsP1BZopfRghGC435MlK35TQzYPYWguHo5wKjuf
  DPzJnzlhigvK55ECbIuuORYFizW1f28CAwEAAaOBgTB/MAkGA1UdEwQCMAAwCwYD
  VR0PBAQDAgSwMBMGA1UdJQQMMAoGCCsGAQUFBwMBMBEGCWCGSAGG+EIBAQQEAwIG
  QDAoBgNVHR8EITAfMB2gG6AZhhdodHRwOi8vbG9jYWxob3N0L2NhLmNybDATBgNV
  HREEDDAKgghyZWdpc3RyeTANBgkqhkiG9w0BAQsFAAOCAYEAX+glr9bjDvwWtduL
  JmhroG++wNbrVBriJw/rjAPBxxHAAzlkZ2ANXGB5W83blG3zS1+EFsdlTvfk7D6g
  NCONOdH/vl8aqHPCvhTZbEVsYlCxgzBdwQ5/zLkDssswPlyrG9Evsk09eI2hTZKi
  eWXnJwKGaDF981XFiXGvdcZhplw5QWK2LL6bPtHDMe89smUZ9rCCyYZu7O/mvNCN
  Uyx3erdGUNn3boNpuDv47D1WUUGDM/zQDvTCSxPZWpgVMp07/IhB4QqEJkiwS5sF
  w71xuPxAn5a9V4fReKlKPvk7dVi0z2NP3XQJUR8WWb9/hFLhQg/qRWJOefky2/h8
  NSGP3eEWNxQkmd6DDooYTsZZbc81PcC7agJflyQzRThfaklqy8rjThNQIJ2P3mS2
  FhV979qUWrk8pRbFF7sFPOAc3J2n27XxgmHxf1Mwj7XjCKgSzhT1IOzVNTNC3KPV
  puaoCpHHEpw9f7GbYzHm6kJJwqWATur30qytHvXV3kYpRDv0
  -----END CERTIFICATE-----   
imageContentSources:
- mirrors:
  - registry:5000/ocp/openshift4
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - registry:5000/ocp/openshift4
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev 