* minimal lpar ins file
../../rhel84/images/kernel.img 0x00000000
../../rhel84/images/initrd.img 0x02000000
../prm/{{item.part_name}}.genericdvd.prm 0x00010480
../../rhel84/images/initrd.addrsize 0x00010408