rd.neednet=1 dfltcc=off rd.multipath=default 
 zfcp.allow_lun_scan=1 console=ttysclp0 
 searchdomain={{ cluster_domain_name  }} 
 coreos.inst.install_dev={{ dev_disk["zvm"] }} 
 coreos.live.rootfs_url=http://{{bastion_private_ip_address}}:8080/rootfs/{{ rhcos_disk_image_short }} 
 coreos.inst.ignition_url=http://{{bastion_private_ip_address}}:8080/ignition/{{ item.ign_profile }}
 {{ coreos_kargs_net[install_mode] }} 
{{ coreos_kargs_extra[install_mode] }}
{% set obj = item.zfcp_disk %}
{% for disk in obj %}
{{ disk }}
{% endfor %}

