[local_rhel_repo]
baseurl={{ local_rhel_repo }}/AppStream
gpgcheck=0
name=Red Hat Ent Linux App_stream remote
enable=1

[rhel8_BaseOS_remote]
baseurl={{ local_rhel_repo }}/BaseOS
gpgcheck=0
name=Red Hat Ent Linux BaseOS remote
enable=1
